<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./_partial/_head') %>
    <title>Cart - MarFoodMD</title>
  </head>
  <body class="bg-warning-subtle">
    <%- include('./_partial/_navbar') %>
    <div class="container py-5">
      <h2 class="text-center text-warning">Your Cart</h2>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <% if (deleted) { %>
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                style="padding-bottom: 0"
              >
                <p><%= deleted %> removed from cart</p>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              <% } %> <% let totalPrice = 0; let totalAll =0%> <% if(cart &&
              cart.length > 0) { %>
              <table class="table table-bordered text-center">
                <thead class="table-warning">
                  <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% cart.forEach(el => { el.Items.forEach(item => { totalPrice
                  = item.price * el.quantity; totalAll += totalPrice%>
                  <tr>
                    <td><%= item.name %></td>
                    <td>
                      <a href="/cart/<%= el.id %>/decrease"
                        ><button class="btn btn-sm btn-warning">-</button></a
                      >
                      <input
                        type="number"
                        class="form-control d-inline text-center w-25"
                        value="<%= el.quantity %>"
                        min="1"
                      />
                      <a href="/cart/<%= el.id %>/increase"
                        ><button class="btn btn-sm btn-warning">+</button></a
                      >
                    </td>
                    <td><%= formatRupiah(item.price) %></td>
                    <td><%= formatRupiah(totalPrice) %></td>
                    <td>
                      <a
                        href="/cart/<%= el.id %>/delete"
                        class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure you want to delete this item?')"
                        >Remove</a
                      >
                    </td>
                  </tr>
                  <% })}) %>
                </tbody>
              </table>
              <div class="text-end">
                <h4>
                  Total:
                  <span class="text-warning"
                    ><%= formatRupiah(totalAll) %>
                  </span>
                </h4>
                <a href="/cart/success" class="btn btn-success mt-3">
                  Checkout
                </a>
                <% } else {%>
                <center>
                  <p>Your cart is empty.</p>
                  <a href="/menu" class="btn btn-success mt-3"
                    >Look at our menu</a
                  >
                </center>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./_partial/_footer') %>
  </body>
</html>
