<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./_partial/_head') %>
    <title>Categories</title>
  </head>
  <body>
    <div class="container-fluid shadow-lg p-4" style="width: 80%">
      <h2 class="text-center text-warning">Categories</h2>
      <div class="row row-cols-1 row-cols-md-2 g-4">
          <% data.forEach(el => { %>
            <div class="col">
      <div class="card" onclick="location.href='/categories/<%= el.id %>'">
        <img src="<%= el.Items[0].imgUrl %>" class="card-img-top" alt="<%= el.name %>" style="height: 400px">
        <div class="card-body">
          <a class="btn btn-warning" href="/categories/<%= el.id %>"><%= el.name %></a>
        </div>
      </div></div>
      <% }) %>
    </div>
  </body>
</html>
