<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./_partial/_head') %>
    <title>User Profile</title>
  </head>
  <body>
    <%- include('./_partial/_navbar') %>
    <div class="container-fluid shadow-lg p-4" style="width: 80%">
      <h2 class="text-center text-warning">Edit Profile</h2>
      <form action="/profile/edit" method="post">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <div class="input-group">
            <input
              type="text"
              name="name"
              class="form-control"
              value="<%= data.name %>"
            />
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <div class="input-group">
            <input
              type="email"
              name="email"
              class="form-control"
              value="<%= data.email %>"
              placeholder="Email"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <div class="input-group">
            <span class="input-group-text">🔒</span>
            <input
              type="password"
              name="password"
              class="form-control"
              value="<%= data.password %>"
            />
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Address</label>
          <div class="input-group">
            <textarea
              name="address"
              class="form-control"
              value="<%= data.UserProfile.address %>"
              placeholder="Please fill in your address"
            >
<%= data.UserProfile.address %>
              </textarea
            >
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Phone Number</label>
          <div class="input-group">
            <input
              type="text"
              name="phoneNumber"
              class="form-control"
              value="<%= data.UserProfile.phoneNumber %>"
              placeholder="Please fill in your phone number"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-warning w-100">Save Change</button>
      </form>
    </div>
  </body>
</html>
